<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Express token:</b>
  <%= @order.express_token %>
</p>

<p>
  <b>Express payer:</b>
  <%= @order.express_payer_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
