<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cart.name %>
</p>

<p>
  <b>Price:</b>
  <%= @cart.price %>
</p>

<%= link_to "check out", @cart.paypal_url(cart_url, "http://milaap.org") %>


<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHugYJKoZIhvcNAQcEoIIHqzCCB6cCAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGAHqRUO4TEZhiBJDnNY/+I8QsSDUUpNqYyIx7DVmhl6zRTF7I65tMxofBvlMqjn1OnK1tqALsJ0HuIqDQ+xF5LdoZQTAR/QxdJ8jsGjBye3xvBLl94cWdbxRNTLUqSurl4WCExHOE7Xvi21axZt4LSo6/YetLipqkMjCkF9dyBSRUxCzAJBgUrDgMCGgUAMIIBBAYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAhNUDBLwhZ/U4CB4G2TjhuWuiG+mnoYs4rNpJxiytdUQOdFbIw5x4z1AW9eo2/6G0NcvJGIss7SjkDi7ohdW+QfW72vBlVitmf8/c2I/tlsi2/0Qyi6lzYYrYceheBZ8VedXR8X6jt+GNEhiuC5vTkm/mIQVVEXK1ZAd5cHlYKnKlPfDaFSsws7f3Iw8gQzvwCE9JO6YN49JrDslkzLLt1BEh+JAO3NXPvpLDid/iNHcCgxnDFdtH+9NODEQohBKQAGvpi1Wq4a55mxYj+sMs0oZSINf1ZNRqnEksalSOQDEjj2vgokArmj15+qoIIDpTCCA6EwggMKoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgZgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEVMBMGA1UEChMMUGF5UGFsLCBJbmMuMRYwFAYDVQQLFA1zYW5kYm94X2NlcnRzMRQwEgYDVQQDFAtzYW5kYm94X2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDA0MTkwNzAyNTRaFw0zNTA0MTkwNzAyNTRaMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALeW47/9DdKjd04gS/tfi/xI6TtY3qj2iQtXw4vnAurerU20OeTneKaE/MY0szR+UuPIh3WYdAuxKnxNTDwnNnKCagkqQ6sZjqzvvUF7Ix1gJ8erG+n6Bx6bD5u1oEMlJg7DcE1k9zhkd/fBEZgc83KC+aMH98wUqUT9DZU1qJzzAgMBAAGjgfgwgfUwHQYDVR0OBBYEFIMuItmrKogta6eTLPNQ8fJ31anSMIHFBgNVHSMEgb0wgbqAFIMuItmrKogta6eTLPNQ8fJ31anSoYGepIGbMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQBXNvPA2Bl/hl9vlj/3cHV8H4nH/q5RvtFfRgTyWWCmSUNOvVv2UZFLlhUPjqXdsoT6Z3hns5sN2lNttghq3SoTqwSUUXKaDtxYxx5l1pKoG0Kg1nRu0vv5fJ9UHwz6fo6VCzq3JxhFGONSJo2SU8pWyUNW+TwQYxoj9D6SuPHHRTGCAaQwggGgAgEBMIGeMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEwMTIyNjE5MzUwNFowIwYJKoZIhvcNAQkEMRYEFDy0HAgALWH7s55Fg7HrymJEPApYMA0GCSqGSIb3DQEBAQUABIGAd0wtRYCYdbXZ5QAN2RKxYlFdQfQLxHdm/Q+az/8y0bJYuqRteJlIwFOr+Ob7a+WH/8GmLSfVmVNQ+qAPfYTqtpiYofy4rTxFOVd4ylQ4QC5eOWa4Xd1IODCNwn7oV0wmAE6kj9n+bDVTUOQIwEYTKNOuN/cowDHHoEpaALtdV0o=-----END PKCS7-----
">
<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<%= link_to "cart", @cart %>

<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), "/orders/express" %>


